src/conf/xml-resources/web-service-references/Operations/wsdl/localhost_8080/ihsuiteServices/Operations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.services.ihsuite.iveloper.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.services.ihsuite.iveloper.com/" name="Operations">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.services.ihsuite.iveloper.com/" schemaLocation="http://localhost:8080/ihsuiteServices/Operations?xsd=1"/>
</xsd:schema>
</types>
<message name="GetData">
<part name="parameters" element="tns:GetData"/>
</message>
<message name="GetDataResponse">
<part name="parameters" element="tns:GetDataResponse"/>
</message>
<message name="CreateLot">
<part name="parameters" element="tns:CreateLot"/>
</message>
<message name="CreateLotResponse">
<part name="parameters" element="tns:CreateLotResponse"/>
</message>
<message name="AddFilesWithApp">
<part name="parameters" element="tns:AddFilesWithApp"/>
</message>
<message name="AddFilesWithAppResponse">
<part name="parameters" element="tns:AddFilesWithAppResponse"/>
</message>
<message name="AddFilesWithAppNoAccessKey">
<part name="parameters" element="tns:AddFilesWithAppNoAccessKey"/>
</message>
<message name="AddFilesWithAppNoAccessKeyResponse">
<part name="parameters" element="tns:AddFilesWithAppNoAccessKeyResponse"/>
</message>
<portType name="Operations">
<operation name="GetData">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/GetDataRequest" message="tns:GetData"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/GetDataResponse" message="tns:GetDataResponse"/>
</operation>
<operation name="CreateLot">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/CreateLotRequest" message="tns:CreateLot"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/CreateLotResponse" message="tns:CreateLotResponse"/>
</operation>
<operation name="AddFilesWithApp">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/AddFilesWithAppRequest" message="tns:AddFilesWithApp"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/AddFilesWithAppResponse" message="tns:AddFilesWithAppResponse"/>
</operation>
<operation name="AddFilesWithAppNoAccessKey">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/AddFilesWithAppNoAccessKeyRequest" message="tns:AddFilesWithAppNoAccessKey"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/AddFilesWithAppNoAccessKeyResponse" message="tns:AddFilesWithAppNoAccessKeyResponse"/>
</operation>
</portType>
<binding name="OperationsPortBinding" type="tns:Operations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddFilesWithApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddFilesWithAppNoAccessKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operations">
<port name="OperationsPort" binding="tns:OperationsPortBinding">
<soap:address location="http://localhost:8080/ihsuiteServices/Operations"/>
</port>
</service>
</definitions>