web/WEB-INF/wsdl/dev.rastreototal.com_20004/ihsuiteServices/Operations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.services.ihsuite.iveloper.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.services.ihsuite.iveloper.com/" name="Operations">
<wsp:Policy xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="OperationsPortBindingPolicy">
<sp:SymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody/>
<sp:ProtectionToken>
<wsp:Policy>
<sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:BootstrapPolicy>
<wsp:Policy>
<sp:AsymmetricBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:InitiatorToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssX509V3Token10/>
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:InitiatorToken>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody/>
<sp:RecipientToken>
<wsp:Policy>
<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp:Policy>
<sp:RequireIssuerSerialReference/>
<sp:WssX509V3Token10/>
</wsp:Policy>
</sp:X509Token>
</wsp:Policy>
</sp:RecipientToken>
</wsp:Policy>
</sp:AsymmetricBinding>
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="FaultTo"/>
<sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
</sp:SignedParts>
<sp:Wss10>
<wsp:Policy>
<sp:MustSupportRefIssuerSerial/>
</wsp:Policy>
</sp:Wss10>
</wsp:Policy>
</sp:BootstrapPolicy>
<sp:RequireDerivedKeys/>
</wsp:Policy>
</sp:SecureConversationToken>
</wsp:Policy>
</sp:ProtectionToken>
</wsp:Policy>
</sp:SymmetricBinding>
<sp:Trust13>
<wsp:Policy>
<sp:MustSupportIssuedTokens/>
<sp:RequireClientEntropy/>
<sp:RequireServerEntropy/>
</wsp:Policy>
</sp:Trust13>
<sp:Wss11>
<wsp:Policy>
<sp:MustSupportRefEncryptedKey/>
<sp:MustSupportRefIssuerSerial/>
<sp:MustSupportRefThumbprint/>
</wsp:Policy>
</sp:Wss11>

<wsam:Addressing/>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="OperationsPortBinding_CreateLot_Input_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="FaultTo"/>
<sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
</sp:SignedParts>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="OperationsPortBinding_CreateLot_Output_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="FaultTo"/>
<sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
</sp:SignedParts>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.services.ihsuite.iveloper.com/" schemaLocation="https://dev.rastreototal.com:20004/ihsuiteServices/Operations?xsd=1"/>
</xsd:schema>
</types>
<message name="getLoginBean">
<part name="parameters" element="tns:getLoginBean"/>
</message>
<message name="getLoginBeanResponse">
<part name="parameters" element="tns:getLoginBeanResponse"/>
</message>
<message name="CreateLot">
<part name="parameters" element="tns:CreateLot"/>
</message>
<message name="CreateLotResponse">
<part name="parameters" element="tns:CreateLotResponse"/>
</message>
<message name="AddFilesWithApp">
<part name="parameters" element="tns:AddFilesWithApp"/>
</message>
<message name="AddFilesWithAppResponse">
<part name="parameters" element="tns:AddFilesWithAppResponse"/>
</message>
<message name="GetData">
<part name="parameters" element="tns:GetData"/>
</message>
<message name="GetDataResponse">
<part name="parameters" element="tns:GetDataResponse"/>
</message>
<message name="setLoginBean">
<part name="parameters" element="tns:setLoginBean"/>
</message>
<message name="setLoginBeanResponse">
<part name="parameters" element="tns:setLoginBeanResponse"/>
</message>
<portType name="Operations">
<operation name="getLoginBean">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/getLoginBeanRequest" message="tns:getLoginBean"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/getLoginBeanResponse" message="tns:getLoginBeanResponse"/>
</operation>
<operation name="CreateLot">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/CreateLotRequest" message="tns:CreateLot"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/CreateLotResponse" message="tns:CreateLotResponse"/>
</operation>
<operation name="AddFilesWithApp">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/AddFilesWithAppRequest" message="tns:AddFilesWithApp"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/AddFilesWithAppResponse" message="tns:AddFilesWithAppResponse"/>
</operation>
<operation name="GetData">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/GetDataRequest" message="tns:GetData"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/GetDataResponse" message="tns:GetDataResponse"/>
</operation>
<operation name="setLoginBean">
<input wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/setLoginBeanRequest" message="tns:setLoginBean"/>
<output wsam:Action="http://ws.services.ihsuite.iveloper.com/Operations/setLoginBeanResponse" message="tns:setLoginBeanResponse"/>
</operation>
</portType>
<binding name="OperationsPortBinding" type="tns:Operations">
<wsp:PolicyReference URI="#OperationsPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLoginBean">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLot">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#OperationsPortBinding_CreateLot_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#OperationsPortBinding_CreateLot_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddFilesWithApp">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#OperationsPortBinding_CreateLot_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#OperationsPortBinding_CreateLot_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetData">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#OperationsPortBinding_CreateLot_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#OperationsPortBinding_CreateLot_Output_Policy"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLoginBean">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operations">
<port name="OperationsPort" binding="tns:OperationsPortBinding">
<soap:address location="https://dev.rastreototal.com:20004/ihsuiteServices/Operations"/>
</port>
</service>
</definitions>