src/conf/xml-resources/web-service-references/Operations/wsdl/dev.iveloper.com_20004/ihsuite/Operations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ihsuite.iveloper.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ihsuite.iveloper.com/" name="Operations">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ihsuite.iveloper.com/" schemaLocation="http://dev.iveloper.com:20004/ihsuite/Operations?xsd=1"/>
</xsd:schema>
</types>
<message name="CreateLot">
<part name="parameters" element="tns:CreateLot"/>
</message>
<message name="CreateLotResponse">
<part name="parameters" element="tns:CreateLotResponse"/>
</message>
<message name="AddFilesWithApp">
<part name="parameters" element="tns:AddFilesWithApp"/>
</message>
<message name="AddFilesWithAppResponse">
<part name="parameters" element="tns:AddFilesWithAppResponse"/>
</message>
<message name="GetData">
<part name="parameters" element="tns:GetData"/>
</message>
<message name="GetDataResponse">
<part name="parameters" element="tns:GetDataResponse"/>
</message>
<message name="DocumentExist">
<part name="parameters" element="tns:DocumentExist"/>
</message>
<message name="DocumentExistResponse">
<part name="parameters" element="tns:DocumentExistResponse"/>
</message>
<message name="CloseLot">
<part name="parameters" element="tns:CloseLot"/>
</message>
<message name="CloseLotResponse">
<part name="parameters" element="tns:CloseLotResponse"/>
</message>
<portType name="Operations">
<operation name="CreateLot">
<input wsam:Action="http://ws.ihsuite.iveloper.com/Operations/CreateLotRequest" message="tns:CreateLot"/>
<output wsam:Action="http://ws.ihsuite.iveloper.com/Operations/CreateLotResponse" message="tns:CreateLotResponse"/>
</operation>
<operation name="AddFilesWithApp">
<input wsam:Action="http://ws.ihsuite.iveloper.com/Operations/AddFilesWithAppRequest" message="tns:AddFilesWithApp"/>
<output wsam:Action="http://ws.ihsuite.iveloper.com/Operations/AddFilesWithAppResponse" message="tns:AddFilesWithAppResponse"/>
</operation>
<operation name="GetData">
<input wsam:Action="http://ws.ihsuite.iveloper.com/Operations/GetDataRequest" message="tns:GetData"/>
<output wsam:Action="http://ws.ihsuite.iveloper.com/Operations/GetDataResponse" message="tns:GetDataResponse"/>
</operation>
<operation name="DocumentExist">
<input wsam:Action="http://ws.ihsuite.iveloper.com/Operations/DocumentExistRequest" message="tns:DocumentExist"/>
<output wsam:Action="http://ws.ihsuite.iveloper.com/Operations/DocumentExistResponse" message="tns:DocumentExistResponse"/>
</operation>
<operation name="CloseLot">
<input wsam:Action="http://ws.ihsuite.iveloper.com/Operations/CloseLotRequest" message="tns:CloseLot"/>
<output wsam:Action="http://ws.ihsuite.iveloper.com/Operations/CloseLotResponse" message="tns:CloseLotResponse"/>
</operation>
</portType>
<binding name="OperationsPortBinding" type="tns:Operations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddFilesWithApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DocumentExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CloseLot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operations">
<port name="OperationsPort" binding="tns:OperationsPortBinding">
<soap:address location="http://dev.iveloper.com:20004/ihsuite/Operations"/>
</port>
</service>
</definitions>